.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px;
}

#linked-in-id {
  margin-right: 5vw;
}

.footer-container {
  width: 100vw;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
}
